
.box{
    width: 100%;
    padding: 70px 0;
    display: flex;
    gap: 50px;

    & > div{
        flex-grow: 1;
    }
}

.items{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}